{{template "base" .}}

{{define "main"}}
{{ $sep := .Sep }}
{{ $webServer := .WebServer }}
    <a href='http://{{$webServer}}/remote' target="_blank" >Управление компьютером</a><br><br>
    <form action="http://{{$webServer}}/sendFile" method="post" enctype="multipart/form-data">
        <input name="file" type="file" value="файл" required/>
        <input value="Отправить" type="submit" />
    </form><br>
    <nav>
        {{range .Menu }}
        <a href='http://{{$webServer}}?path={{.Link}}'>{{.Name}}</a> {{$sep}}
        {{end}}
    </nav>
    <div class="linkAndName">
        <h3>Папки:</h3>
        {{range .Dirs }}
        <a href='http://{{$webServer}}?path={{.Link}}'>{{.Name}}</a><br>
        {{end}}
    </div>
    <div class="linkAndName">
        <h3>Файлы:</h3>
        {{range .Files }}
        <a href='http://{{$webServer}}/getFile?path={{.Link}}&name={{.Name}}' target='_blank'>{{.Name}}</a><br>
        {{end}}
    </div>
{{end}}